$color-primary: #16488F;
$color-primary-light: #2983ff;
$color-primary-dark: #103467;
$color-primary-dark-1: #001738;

$color-white: #fff;
$color-black: #000;


$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

$color-danger: #dc3545;
$color-danger-light: #ef5b69;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #797979;
$color-grey-light-4: #DFE8E8;
$color-grey-dark: #e0e0e0;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
